body{
    margin: 0;
    padding: 0;
    height: 100vh;
    /* overflow-y: scroll; */
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #36453B;
   
}


.roboto-mono body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  


/* ===============================NAVBAR=================================== */

.nav__toggle-btn{
    display: none;
}

.nav__logo{
    flex: 1;
    display: flex;
    border: 0px solid black;
    
    
}

.container{
    /* position: fixed; */
    width: 99vw;
    display: flex;
    border: 10px solid #F5F9E9;
    justify-content: space-between;
    background-color: #F5F9E9;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: larger;
  font-style: normal;
  font-variation-settings:"wdth" 100;
    
}


.nav__menu{
    flex: 1;
    width: 45%;
    border: 0px solid black;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
}

ul {
    list-style: none;

}

#navMenu{
    text-decoration: none;
    color: black;
}

nav{
    width: 99vw;
    height: 3.5rem;
    display: grid;
    place-items: center;
    border: px solid black;
    backdrop-filter: blur(20px);
    
}


#img1{
    height: 3rem;
    margin-left: 6vw;
}




/* ===============================FOOTER===================================*/

footer{
    border: 1px solid black;
    margin-top: 3rem;
    padding-top: 6rem;
    position: relative;
    background-color: #C2C1A5;  
}

.footerCategories{
    border: 0px solid beige;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 4rem;
    margin-left: -10px;
    font-size: larger;
    height: 5vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}
ul{
    list-style: none;
    
}

#footerMenu{
    text-decoration: none;
    color: aliceblue;
    border: 10px solid #26263f ;
    background: #26263f;
    border-radius: 5px;
    height: 5vh;
    transition: 1s;
    /* font-size: 2vh; */
    

}

#footerMenu:hover{
    color: black;
    border: 10px solid aliceblue ;
    background: aliceblue;
    border-radius: 5px;
}

.footerCopyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}



/* ============================ERROR================================*/


.center{
    /* height: 5vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid black;

}

.btnPrime{
    color: black;
    text-decoration: none;
    border: 0px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color:  #716AEB ;
    color: white;
    font-size: large;
}






/* ============================POSTS================================*/

.postAlign{
    margin-top: 30px;
   border: 0px solid purple;
    
}

#posts1{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 0px solid pink ;
    height: 85vh;
    
}
.post{
   
   border: 0px solid black;
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 7px;
    overflow: hidden;
    background-color: #E0DDCF;
    
    transition: 0.5s;
     /* Firefox */
  
  
}

.post:hover{
    box-shadow: 5px 5px 5px gray;
}

#desc1{
    border: 0px solid black;
    height: 11vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


#img2{
   border: 0px solid black;
    width: 100%;
    
}
.postInfo {
    display: flex;
    flex-direction: column;
    
    
}



.postFooter{
    position: relative;
    border: 0px solid black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* gap: 10px; */
}


.category1{
    color: white ;
    width: 5vw;
    text-decoration: none;
    margin-right: 5px;
    border: 1px solid #2778FD;
    border-radius: 10px;
    background-color: #2778FD;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
}

.category1:hover{
    border: 1px solid #2778FD;
    border-radius: 10px;
    width: 5vw;
    background-color: white;
    color: #2778FD;
    text-align: center;
}

.postThumbnail{
    width: 99.5%;
}

.postAvatar{
    border: 0px solid black;
    height: 40px;
    
    display: flex;
    /* width: 99%; */
}
.postAvatar img{
    position: relative;
    border: 0px solid black;
    height: 30px;
}

.cnt1{
    border: 0px solid black;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: 5px;
    margin-top: -2px;
    flex-direction: column;
    color: #0A0D1F;
}


.authname{
    text-decoration: none;
}

.cnt1 span{
    font-size: 95%;
    font-weight: 800;
} 



.cnt1 small{
    color: #2778FD;
    font-size: small;
    font-weight: 100;
} 



.ttlname{
    color: black;
    font-size: x-large;
    text-decoration: none ;

}






/* ==========================POSTDETAIL================================== */


.postDetail1{
    border: 10px slid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    
}

.postDetailContainer{
    border-radius: 20px;
    margin-top: 30px;
    background-color: #E0DDCF;
    border: 0px solid black;
    width: 60%;
    font-optical-sizing: auto;
  font-weight: 400;
  font-size: larger;
  font-style: normal;
  font-variation-settings:"wdth" 100;

}

.postDetailThumbnail{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* margin-bottom: 10px; */
}


.postDetailThumbnail img {
    width: 60%;
    border-radius: 12px;
    margin-bottom: 10px;
    }

.postDetailContainerHeader{
    border: px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}



.postDetailContainerButtons{
    border: 0px solid black;
    display: flex;
    justify-content: space-around;
    width: 18vh;
    /* border-radius: 0px; */
}
.postDetailContainerButtons Button{
    width: 20px;
    gap: 10px;
    border-radius: 15px;
}


.postDetailAlign{
    color: #26263f;
    font-size: 18px;
    width: 80%;
    border: 0px solid black;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* =================================AUTHORPOSTS================================ */


.authorPosts, .categoryPosts {
    border: 0px solid black;
    


}


#authorPostsContainer, #categoryPostsContainer{
    
    border: 0px solid black;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}


/* =========================REGISTER============================= */


.register{
    border: 0px solid black;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.registerContainer {
    border: 0px solid black;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerForm{
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    gap: 10px;
    
}

.registerForm input{
    height: 4vh;
    width: 30vw;
    border-radius: 10px;
    border: 0.5px solid gray;
    
}

.registerForm Button {
    margin-bottom: 10px;
}


.formErrorpage,
.profileError,
.crtFormError{
    border: 0px solid black;
    border-radius: 10px;
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3F43;
    color: white;

}

/* .registerForm small{
    font-size: 30px;
    font-weight: 600;
} */



.signin{
    font-size: 20px;
    text-decoration: none;
} 

/* =============================================Authors============================== */


.authors1{
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.authorsContainer{
    margin-top: 40px;
    border: 0px solid black;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 80px;
    height: 80vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.authorsPart{
    margin-top: 10px;
    border: 0px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}


.authorsPart img{
    
    border-radius: 50%;
}

.authors_avatar {
    border: 0px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.authorsInfo p{
    border-radius: 20px;
    background-color: #E0DDCF;
    border: 0px solid pink;
    text-align: center;
    color: black;
    text-decoration: none;
}



/* =====================================UserProfile=============================== */


.profile{
    border: 0px solid black;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer{
    border: 0px solid black;
    width: 70vw;
    display: flex;
    flex-direction: column;
    
    justify-content: center;

}


.profileLink{
    border: 0px solid black;
    text-align: center;
    color: #2778FD;
    text-decoration: none;
    
    line-height: 2;
    font-size: 25px;
    height: 5vh;
}

.profileDetails{
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileForm label{
    margin-left: auto;
    border: 0px solid black;
    padding: 4px;
    /* width: 5vw; */
    display: flex ;
    justify-content: right;
    align-items: center;
    background-color: bisque;
   
}

.profileForm button{
    margin-right: auto;
    background-color: bisque;
    border: 0px solid black;

}
 

.profileForm{
    border: 0px solid black;
    display: flex;
    justify-content: center;
    margin-top: -20px;
}



.profileAvatar img{
    border: 0px solid black;
    border-radius: 50%;

}


.profileDataForm{
    border: 0px solid black;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    width: 60%;
}


.profileDataForm input{
    height: 4vh;
    width: 30vw;
    border-radius: 10px;
    border: 0.5px solid gray;
}


/* =========================Dashborad=========================0 */


.dashboard{ 
    margin-top: 40px;
    color: #E0DDCF;
}

.postArticle{
    border: 0px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.dashboardActions {
    border: 0px solid black;
    width: 20vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    gap: 5px;
    
}

.dashboardLink {
    border: 0pxsolid red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
}


.dashboardPostInfo{
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.dashboardThumbnail{ 
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardThumbnail img{
    width: 100%;
    height: 6vh;
    margin-left: 5px;
    border-radius: 10px;
}


.dashboardActions{
    border: 0px solid black;
}


.dashboardTitle{
    border: 0px solid blue;
    width: 90%;
    /* text-align: center; */
    margin-left: 5px;
    font-size: 20px;
}


/* ====================================createpost========================== */


.createPost{
    border: 0px solid black;
    height: 85vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;


}

.crtPostContainer{
    margin-top: 50px;
    font-optical-sizing: auto;
    font-weight: 400;
    border-radius: 20px;
    font-size: larger;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    background-color: #E0DDCF;
    
    border: 0px solid black;
}


.crtPostForm{
    border: 0px solid red;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.crtPostForm input {
    width: 95%;
    border: 1px solid gray;
    height: 4vh;
    border-radius: 10px;
}

.crtPostForm select {
    width: 95%;
    border: 1px solid gray;
    height: 4vh;
    border-radius: 10px;
}

.crtPostForm button,
.profileDataForm button{
    height: 4vh;
    width: 20vw;
    border-radius: 10px;
    border: 1px solid gray;
    transition: 0.5s;
}

.crtPostForm button:hover,
.profileDataForm button:hover{
    background-color: #2778FD;
    color: white;
}




#imgLoader{
    height: 10vh;
    display: flex;
    align-items: center;
}